<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd"
         default-autowire="autodetect"
         default-dependency-check="all"
         default-lazy-init="false">

  <object id="ActionPresentationManager" type="DSIS.UI.Application.Actions.ActionPresentationManager"/>
  <object id="XmlActionPreesentationManager" type="DSIS.UI.Application.Actions.XmlActionPreesentationManager"/>
  <object id="ToolStripMenuItemPresentationManager" type="DSIS.UI.Application.Actions.ToolStripMenuItemPresentationManager"/>
  
  <object id="MainForm" type="DSIS.UI.Application.MainFormProxy" autowire="constructor"/>
  <object id="ApplicationClass" type="DSIS.UI.Application.ApplicationClass" autowire="constructor"/>
  
</objects>