<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd" 
         default-autowire="autodetect"
         default-dependency-check="all"          
         default-lazy-init="false">

  <object id="ObjectConnectionPointFactory" type="DSIS.Scheme2.ConnectionPoints.Object.ObjectConnectionPointFactory, DSIS.Scheme2"/>
  <object id="ObjectConnectionPointFactoryImpl" type="DSIS.Scheme2.ConnectionPoints.Object.ObjectConnectionPointFactoryImpl, DSIS.Scheme2"/>
  <object id="ObjectNodeFactory" type="DSIS.Scheme2.ConnectionPoints.Object.ObjectNodeFactory, DSIS.Scheme2"/>
  
  <object id="InputConnectionPointExtension" type="DSIS.Scheme2.ConnectionPoints.Xml.Input.InputConnectionPointExtension, DSIS.Scheme2"/>
  <object id="InputConnectionPointFactory" type="DSIS.Scheme2.ConnectionPoints.Xml.Input.InputConnectionPointFactory, DSIS.Scheme2"/>
  
  <object id="OutputConnectionPointFactory" type="DSIS.Scheme2.ConnectionPoints.Xml.Output.OutputConnectionPointFactory, DSIS.Scheme2"/>
  <object id="ActionInstanceOutputConnectionPointFactory" type="DSIS.Scheme2.ConnectionPoints.Xml.Output.ActionInstanceOutputConnectionPointFactory, DSIS.Scheme2"/>
  <object id="FromPointOutputConnectionFactory" type="DSIS.Scheme2.ConnectionPoints.Xml.Output.FromPointOutputConnectionFactory, DSIS.Scheme2"/>
  <object id="ObjectParserOutputConnectionFactory" type="DSIS.Scheme2.ConnectionPoints.Xml.Output.ObjectParserOutputConnectionFactory, DSIS.Scheme2"/>
  
  
  <object id="SchemeGraphFactory" type="DSIS.Scheme2.Graph.SchemeGraphFactory, DSIS.Scheme2"/>
  <object id="XmlSchemeActionFactory" type="DSIS.Scheme2.Graph.XmlSchemeActionFactory, DSIS.Scheme2"/>
  
  <object id="SchemeNodeFactory" type="DSIS.Scheme2.Nodes.SchemeNodeFactory, DSIS.Scheme2"/>

  <!--
  <object id="currentAppDomainFactory" type="DSIS.Scheme2.XmlModel.CurrentAppDomainFactory, DSIS.Scheme2"/>
  <object id="xmlSchemeActionFactory" type="DSIS.Scheme2.XmlModel.XmlSchemeActionFactory, DSIS.Scheme2"/>

  <object id="nodeNodeFactory" type="DSIS.Scheme2.XmlModel.SchemeNodeFactory, DSIS.Scheme2"/>

  <object id="schemeGraphFactory" type="DSIS.Scheme2.XmlModel.SchemeGraphFactory, DSIS.Scheme2"/>
  <object id="outputConnectionPointFactory" type="DSIS.Scheme2.XmlModel.OutputConnectionPointFactory, DSIS.Scheme2"/>
  <object id="outputConnectionPointFromFactory" type="DSIS.Scheme2.XmlModel.OutputConnectionPointFromFactory, DSIS.Scheme2"/>
  <object id="outputConnectionPointFromActionFactory" type="DSIS.Scheme2.XmlModel.OutputConnectionPointFromActionFactory, DSIS.Scheme2"/>
  <object id="outputObjectParserFromFactory" type="DSIS.Scheme2.XmlModel.OutputObjectParserFromFactory, DSIS.Scheme2"/>

  <object id="inputConnectionPointFactory" type="DSIS.Scheme2.XmlModel.InputConnectionPointFactory, DSIS.Scheme2"/>
  <object id="inputConnectionPointExtension" type="DSIS.Scheme2.XmlModel.InputConnectionPointExtension, DSIS.Scheme2"/>

  <object id="connectionPointFactory" type="DSIS.Scheme2.XmlModel.ConnectionPointFactory, DSIS.Scheme2"/>    
  <object id="connectionPointFactoryImpl" type="DSIS.Scheme2.Impl.ConnectionPoints.ClassConnectionPointFactory, DSIS.Scheme2"/>      
 -->      
</objects>